@import './mixins.scss';

html {
  height: auto;
  font-size: 10px;

  @media(max-width: $media-l) {
    font-size: calc(100vw / 1366 * 10);
  }

  @media(max-width: $media-m) {
    font-size: calc(100vw / 375 * 10);
  }

  &, * {
    // firefox
    scrollbar-color: #9BBBFF transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      border-radius: 0.2rem;
    }

    &::-webkit-scrollbar {
      width: 0.4rem; /* ширина для вертикального скролла */
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9BBBFF;
    }
  }
}

body {
  font-family: var(--font-golos);
  color: var(--text-color-default);
}

main {
  overflow: hidden;
}

.wrapper {
  max-width: 122.2rem;
  width: 100%;
  margin: 0 auto;

  @media(max-width: $media-m) {
    padding-inline: 2rem;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 5.4rem;
  font-family: var(--font-merriweather);
  line-height: 1.2;

  @media(max-width: $media-m) {
    line-height: 1.1;
    font-size: 3.6rem;
  }
}

.text-red {
  color: #F54932;
}

.red-line {
  text-decoration: line-through #F54932;
}

a {
  color: rgb(48, 87, 162);
}

.link {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;

  @media (max-width: $media-m) {
    font-size: 1.8rem;
  }
}
