$media-l: 1366px;
$media-m: 767px;

@mixin hover {
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      @content
    }
  }
}

@mixin media($px: $media-m) {
  @media(max-width: $px) {
    @content
  }
}

@mixin text-gold {
  background: -webkit-linear-gradient(270deg, #FFF961 0%, #EC7D2C 100%);
  filter: drop-shadow(0 .4rem .4rem rgba(0, 0, 0, 0.25));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin menu($width: inherit) {
  width: $width;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}

@mixin blue-container {
  background-color: #DCE1FF;
  color: var(--color-default);
  line-height: 2.3rem;
  border-radius: 2.6rem;
  font-size: 1.4rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}

@mixin avatar-shadow($radius) {
  &,
  & > img:first-child {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
    inset: .2rem;
    border-radius: $radius;
  }
}

@mixin card-block-line {
  position: relative;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    display: block;
    height: calc(100% - 3rem);
    width: .2rem;
    border-radius: .7rem;
    margin: 1.5rem 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #C9CAEC;
  }

  .block_currency {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

@mixin hover-button {
  transition: 0.2s ease-in-out;

  &:hover {
    filter: opacity(80%);
  }
}

@mixin modal-text-title {
  color: #C0C2E7;
  text-align: center;
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1rem;
}

@mixin input-style {
  --text-color: var(--color-default);
  --bg-focus: transparent;

  padding: 0 4rem 0 2rem;
  height: 3.8rem;
  border-radius: 1.9rem;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  position: relative;

  &::placeholder {
    color: #BFC2E9;
  }

  &:placeholder-shown {
    background-color: #DDE2F9;
  }

  &:not(:placeholder-shown),
  &:focus {
    outline: .2rem solid #A4A5D3;
    background-color: var(--bg-focus);
  }

  // при автозаполнении
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-color) !important;
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 .2rem .2rem var(--bg-focus);
  }
}

@mixin input-error {
  outline: .2rem solid #E56D6D !important;
  background-color: transparent !important;
}

@mixin text-border($color: #000, $weight: .1rem) {
  text-shadow: 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color, 0 0 $weight $color;
}

@mixin modal-border-container {
  color: var(--color-default);
  border-radius: var(--border-radius-box);
  border: .3rem solid #DFE3FA;
}

@mixin arrow-hover($shadow-color: var(--color-default), $isRevers: false) {
  filter: drop-shadow(0 .6rem .4rem $shadow-color);

  @if $isRevers == true {
    transform: translateX(-.6rem) rotateY(180deg);
  } @else {
    transform: translateX(.6rem);
  }
}

@mixin card-hover {
  & {
    transition: .15s ease-out;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
  }
}


