.title {
  position: relative;
  max-width: 80.6rem;
  margin-bottom: 5.4rem;
}

.link {
  position: absolute;
  right: 26rem;
  bottom: 0.9rem;
}

@media(max-width: $media-m) {
  ._ {
    padding-top: 12rem;
  }

  .title {
    margin-bottom: 0;
  }

  .link {
    position: static;
    display: block;
    margin-top: 1.3rem;
  }
}