._ {
  --bg-color: var(--text-color-default);
}

._:global {
  &.swiper-button-disabled {
    --bg-color: #D6D6D6;
    pointer-events: none;
  }
}

._ {
  width: 4.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--bg-color);

  svg {
    height: 45%;
  }

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #FBCE51;
    }
  }
}

.prev {
  rotate: 180deg;
}

@media(max-width: $media-m) {
  ._ {
    width: 3.6rem;
  }
}
