.default {
  --bg-color: var(--text-color-default);
}

._:global {
  &.swiper-button-disabled {
    --bg-color: #D6D6D6;
    pointer-events: none;
  }

  &.swiper-prev {
    rotate: 180deg;
  }
}

._ {
  width: 4.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--bg-color);
  transition: .2s ease-in;

  svg {
    height: 45%;
  }

  &:hover {
    background-color: #FBCE51;
  }
}

@media(max-width: $media-m) {
  ._ {
    width: 3.6rem;
  }
}
